{% extends 'base.html' %}

{% load static %}

{% block content %}
<main class="content-wrapper">
    <div class="container">        
        <div class="row my-5">
            <div class="col">
                <h1>{{ article.headline }}</h1>
                <b class="text-muted">{{ article.byline }} | {{ article.modified }}</b>
                <hr>
                {{ article.body | safe }}
                <hr>
                <h3 class="my-3">Leave a comment...</h3>
                <form action="" method="post">
                    {% csrf_token %}                    
                    <input type="hidden" name="article_uuid" value="{{ article.uuid }}"">
                    <div class="form-group">
                        {{ form.comment }}
                    </div>
                    <button type="submit" class="btn btn-info">Submit Comment</button>
                </form>
                <hr>

                <div>
                    {% for comment in comments %}
                        <div class="card bg-light mb-3">
                            <div class="card-header">
                                {{ comment.datetime }}
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    {{ comment.comment }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
            <div class="col-md-3">
                {% include "sidebar.html" %}
            </div>
        </div>
    </div>  
</main>
    
{% endblock content %}


{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/randomator.js' %}"></script>
{% endblock scripts %}