<aside col id="sidebar">
    <!-- <section class="related-tickers">
        <div class="block-title">
            <hr><h3>Stocks</h3>
        </div>
        <div class="ticker-row">
            <div>
                <span class="image-wrap">
                    <a href="#">
                        <img src="images/related-1.png" class="img-responsive" alt="">
                    </a>
                </span>
                <h5>Apple</h5>
                <h6>
                    <span class="ticker">
                        <a title="Apple Stock Quote" href="#">
                            NASDAQ:<span class="symbol">AAPL</span>
                        </a>
                    </span>
                </h6>
                <aside class="price-quote-container">
                    <h6 class="current-price">
                        $170.15
                    </h6>
                    <h6 class="price-change-amount price-neg">
                        $0.95
                    </h6>
                    <h6 class="price-change-percent price-neg">
                        (-0.56%)
                    </h6>
                </aside>
            </div>
        </div>
        <div class="ticker-row">
            <div>
                <span class="image-wrap">
                    <a href="#">
                        <img src="images/related-2.png" class="img-responsive" alt="">
                    </a>
                </span>
                <h5>Tesla</h5>
                <h6>
                    <span class="ticker">
                        <a title="Tesla Stock Quote" href="#">
                            NASDAQ:<span class="symbol">TSLA</span>
                        </a>
                    </span>
                </h6>
                <aside class="price-quote-container">
                    <h6 class="current-price">
                        $315.05
                    </h6>
                    <h6 class="price-change-amount price-pos">
                        $2.55
                    </h6>
                    <h6 class="price-change-percent price-pos">
                        (0.82%)
                    </h6>
                </aside>
            </div>
        </div>
        <div class="ticker-row">
            <div>
                <span class="image-wrap">
                    <a href="#">
                        <img src="images/related-3.png" class="img-responsive" alt="">
                    </a>
                </span>
                <h5>Twitter</h5>
                <h6>
                    <span class="ticker">
                        <a title="Tesla Stock Quote" href="#">
                            NYSE:<span class="symbol">TWTR</span>
                        </a>
                    </span>
                </h6>
                <aside class="price-quote-container">
                    <h6 class="current-price">
                        $315.05
                    </h6>
                    <h6 class="price-change-amount price-pos">
                        $2.55
                    </h6>
                    <h6 class="price-change-percent price-pos">
                        (0.82%)
                    </h6>
                </aside>
            </div>
        </div>
    </section> -->
    
    <section>
        <div class="mb-3">
            <hr>
            <h3>Stocks</h3>
        </div>

        {% for quote in quotes %}
            <div>
                <h4>{{ quote.name }}</h4>
                <h6>{{ quote.exchange }}</h6>
                <p>${{ quote.close }} | ${{ quote.change }} | {{ quote.percent | floatformat:3 }}%</p>

            </div>            
        {% endfor %}
    </section>
    
    <section class="mt-4">
        <div class="mb-4">
            <hr>
            <h3>Read More</h>
        </div>
        <ul>
            <li><a href="#">It is a long established fact that a reader</a></li>
            <li><a href="#">Many desktop publishing packages and web page editors now use</a></li>
            <li><a href="#">Contrary to popular belief, Lorem Ipsum is not simply random text</a></li>
            <li><a href="#">There are many variations of passa</a></li>
            <li><a href="#" >If you are going to use a passage of Lorem Ipsum</a></li>
        </ul>
    </section>
</aside>
