{% load quotes %}

<aside col id="sidebar">
    <!-- Stocks Section -->
    <section>
        <div class="mb-3">
            <hr>
            <h3>Stocks</h3>
        </div>

        {% for quote in quotes %}
            <div class="quote">
                <h4 title="{% quotes_tag quote %}">{{ quote.name }}</h4>
                <h6>{{ quote.exchange }}</h6>
                <p>${{ quote.close }} | ${{ quote.change }} | {{ quote.percent | floatformat:3 }}%</p>

            </div>
        {% endfor %}

        <!-- RANDOM-ATOR -->
        <button id="randomator" class="btn btn-sm btn-block btn-warning"><b>RANDOM-ATOR</b></button>
    </section>

    <!-- Read More Section -->
    <section class="mt-4">
        <div class="mb-4">
            <hr>
            <h3>Read More</h>
        </div>
        <ul>
            {% for article in random_articles %}
                <li><a href="{% url 'article_page' article.uuid %}">{{ article.title }}</a></li>
                
            {% endfor %}
        </ul>
    </section>
</aside>
